html, * {
    font-family: 'Press Start 2P', cursive, helvetica;
    box-sizing: border-box;
  }

body {
    width: 100vw;
    transform: scale(0.9%);
    margin: 0;
    margin-top: 9em;
    border: 0;
    font-size: 1em;
    background-color: rgb(24, 122, 26);
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 5em;
    border: 3px solid black;
}

#players-names {
    display: flex;
    flex-direction: row;
}

h2 {
  margin: 1em 8em auto;
}

#players-cards {
    display: flex;
    align-self: center;
}

h1 {
  margin: 1em 8.3em auto; 
  color: red;
}

h3 {
  text-align: center;
  font-size: 2.5em;
  color: red;
}

#player-Imgs {
    display: flex;
}

img {
    width: 45%;
    margin: 1em 10em auto;
    border: 3px solid black;
    align-items: center;
    justify-content: center;
}

button {
    background-color: rgb(156, 28, 28);
    color: whitesmoke;
    font-size: 24px;
    text-align: center;
    margin: 1em 7.5em;
    padding: 14px 40px;
    border-radius: 50%;
    border: 2px solid darkgreen;
}

button:hover {
    color: black;
    background-color: white;
    margin: 0 4.6em;
    border: 4px whitesmoke;
}

@media screen and (max-device-width: 480px) and (min-device-width: 320px) {
  body {
    margin: 50% 0;
    font-size: 80%;
    background-color: rgb(191, 54, 44)
  }
  
  main {
    margin: 1em;
    border: 3px solid black;
  }

  img {
    margin: 1px 0;
  }

  section {
    font-size: 1.2em;
  }
  
  h1 {
    margin: 1em 6.4em;
    font-size: 1em;
    color: white;
  }

  h2 {
    margin: 1px 3em;
    font-size: 1.2em;
  }
  
  h3 {
    margin: 1px 3em;
    font-size: 1.2em;
  }

  button {
    margin: 2px 12em;
    font-size: 25%;
    background-color: rgb(24, 122, 26);
    color: black;
  }
  button:hover {
    margin: 2px 12.1em;
  }
}

@media screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  body {
    width: 100%;
    margin-top: 20em;
    background-color: rgb(219, 207, 33)
  }
  
  img {
    margin: 1px .5em;
  }

  h1 {
    margin: 1em 6em;
    font-size: 1.2em;
  }

  h2 {
    margin: 0 2em;
    font-size: 1.5em;
  }
  
  h3 {
    margin: 1em 2em;
    font-size: 2.5em;
  }
  
  button {
    font-size: 80%;
    margin: 1em 4em;
    background-color: rgb(33, 219, 219);
    color: black;
  }
  button:hover {
    margin: 1em 4.1em;
    color: gold;
  }
}