html, * {
  font-family: 'Press Start 2P', cursive, helvetica;
  box-sizing: content-box;
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
main {
  background-color: silver; /* in case image doesn't load color will */
  background-image: url(../imgs/war-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: contain cover;
  padding: 10em;
  width: 200vh;
  height: 100vw;

}

.contatiner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 10em;
  height: 100vh;
}

#title {
  text-align: center;
  justify-content: center;
  margin: 5px 0;
  font-size: 50px;
  color: rgb(242,28,65);
}

#gameActions {
  color: gold;
  margin: 20px 0 0 0;
  font-size: 30px;
}

#rules {
  font-size: 15px;
  font-style: italic;
  margin: 1em 0;
  color: orange;
}

#playersNames {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 5px 20px;
  font-size: 20px;
  color: rgb(35,15,43);
}

#playersTotals {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
  /* font-style: none; */
  font-size: 1em;
  color: rgb(7, 219, 7);
}

#playerOneCardTotal {
  margin-right: 25px;
}
  
#playerTwoCardTotal {
  margin-left: 25px;
}

#playerImgs {
  display: flex;
  justify-content: space-evenly;
}

#buttonsCss {
  display: flex;
  justify-content: space-evenly;
}

#flipButton {
  margin-right: 10px;
}

#resetButton {
  margin-left: 25px;
}

button {
  background-color: rgb(188,227,196);
  color: rgb(35,15,43);
  font-size: 12px;
  padding: 20px 30px;
  border-radius: 50%;
  border: 2px solid darkgreen;
}

button:hover {
  color: whitesmoke;
  background-color: black;
  border: 2px solid whitesmoke;
}

#backgroundAudio {
  font-size: 8px;
  padding: 2em;
  color: gold;
}

.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* Iphone screen set up */

@media screen and (max-device-width: 480px) and (min-device-width: 320px) {
  
  body {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 140vh;
    width: 100vw;
  }

  main {
    display: flex;
    align-content: center;
    margin: 1em;
    height: 140vh;
    width: 100vw;
  }
  
  .contatiner {
    display: flex;
    margin: 0 5em;
    padding-top: 10em;
    height: 140vh;
    width: 100vw;
  }

  #title {
    font-size: 20px;
    margin: 1px;
  }

  #rules {
    font-size: 10px;
    margin: 1em;
  }

  #gameActions {
    font-size: 12px;
  }

  #playersNames {
    margin: 5px 0;
    font-size: 10px;
    color: rgb(13, 0, 255);
  }
  #playersTotals {
    font-size: 8px;
    color: rgb(0, 255, 238);
  }

  button {
    background-color: rgb(35,15,43);
    color: rgb(188,227,196);
    font-size: 8px;
    padding: 10px 15px;
  }
  
  button:hover {
    border: 2px solid orange;
  }
}

