html, * {
    font-family: 'Press Start 2P', cursive, helvetica;
    box-sizing: border-box;
  }

  body {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
main {
  background-color: silver; /* in case image doesn't load color will */
  background-image: url(../imgs/war-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: fill;
  padding: 10em;
  width: 100%;
  height: 100%;

}

.contatiner {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin: 10em;
  /* width: 100%;
  height: 100%; */
}

#title {
  text-align: center;
  justify-content: center;
  margin: 5px 0;
  font-size: 50px;
  color: rgb(242,28,65);
}

#gameActions {
  color: gold;
  margin: 20px 0 0 0;
  font-size: 30px;
}

#rules {
  font-size: 15px;
  font-style: italic;
  margin: 1em 0;
  color: orange;
}

#playersNames {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 20px;
    font-size: 20px;
    color: rgb(35,15,43);
}

#playersTotals {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
    font-style: none;
    font-size: 1em;
    color: rgb(7, 219, 7);
}

#playerOneCardTotal {
    margin-right: 25px;
  }
  
  #playerTwoCardTotal {
    margin-left: 25px;
}

#playerImgs {
    display: flex;
    justify-content: space-evenly;
  }

#buttonsCss {
    display: flex;
    justify-content: space-evenly;
}

#flipButton {
    margin-right: 10px;
}

#resetButton {
    margin-left: 25px;
}

button {
  background-color: rgb(188,227,196);
  color: rgb(35,15,43);
  font-size: 12px;
  padding: 20px 30px;
  border-radius: 50%;
  border: 2px solid darkgreen;
}

button:hover {
  color: whitesmoke;
  background-color: black;
  border: 2px solid whitesmoke;
}

#backgroundAudio {
  font-size: 8px;
  padding: 2em;
  color: gold;
}

/* Iphone screen set up */

/* @media screen and (max-device-width: 480px) and (min-device-width: 320px) { */
  
/* } */

/* Ipad, computer screen set up */

/* @media screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  body {
    width: 100%;
    margin-top: 20em;
    background-color: rgb(219, 207, 33)
  }
  
  img {
    margin: 1px .5em;
  }

  h1 {
    margin: 1em 6em;
    font-size: 1.2em;
  }

  h2 {
    margin: 0 2em;
    font-size: 1.5em;
  }
  
  h3 {
    margin: 1em 2em;
    font-size: 2.5em;
  }
  
  button {
    font-size: 80%;
    margin: 1em 4em;
    background-color: rgb(33, 219, 219);
    color: black;
  }
  button:hover {
    font-size: 80%;
    margin: 1em 4.1em;
    color: gold;
  }
} */